altgraph==0.17
future==0.18.2
macholib==1.14
pefile==2019.4.18
PyInstaller==3.6
PyQt5==5.15.0
PyQt5-sip==12.8.0
pytube3 @ git+https://gitlab.com/obuilds/public/pytube@10c57109f87fe864d8f38bbc8d76941e695de93a
pywin32-ctypes==0.2.0
typing-extensions==3.7.4.2
